/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
///orange for site #ff6600
/***** SITE STYLES *************/
/**********************************/


.face{
  width: 25%;
  margin-left: 25px;
}







button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: Georgia;
  color: #faf5fa;
  font-size: 10px;
  background: #ff6600;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

button:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}








.footerbox{
 display: -webkit-flex; /* Safari */
    -webkit-flex-direction:column; /* Safari 6.1+ */
    justify-content: space-between;
    padding:5px;

    
  
}
.head{
  margin-left: 0px;
}



.project_holder{
  background-color:white;
}
.footertext{
  display: none;
}
.footer{
  display: flex;
  flex-direction: column;
  img{
    width: 30%;
    max-width: 100px;
  }
}

.last{
  margin-top: 0px;
}

.box2{
  display: none;
}

.rightside{
  display: inline-block;
  height: 500px;

  h1{
    display: none;

  }

  h2{
    display: none;
  }

  p{
    width: 30%;
    float: right;
    margin-left: 10px;
    
    font-family: 'Source Sans Pro', sans-serif;

  }

  img{
    width: 30%;
    max-width: 40px;
   
  }
  h3{
    text-align: center;
  }
}
.head{
  border-bottom:solid;
}


.project1{
  border-bottom:solid 1px;
    
  

  img{
    float: left;

  }

  p{
    float: left;
  }
  button{
    float: right;

  }
}

.project2{
  border-bottom:solid 1px;

  img{
    float: left;
    fill: #94d31b; 

  }

  p{
    float: left;
  }
  button{
    float: right;

  }
}
.project3{
  border-bottom:solid 1px;


  img{
    float: left;


  }

  p{
    float: left;
    margin-left: 10px;
  }
  button{
    float: right;

  }
}
.project4{
  border-bottom:solid 1px;
  img{
    float: left;

  }

  p{
    float: left;
  }
  button{
    float: right;

  }
}


  .box2{
  border-bottom:solid 1px;
  img{
    float: left;

  }

  p{
    float: left;
  }
  button{
    float: right;

  }
}




.block3 p{
  float: left;
  font-family:source-sans-pro;
}
.block3 h1{
  float: right;
  font-family:source-sans-pro;
}

.block2 p{
  float: left;
  font-family:source-sans-pro;
  display: none;
}
.block2 h1{
  float: right;
  font-family:source-sans-pro;

}
.block2{

    width: 100%;
     display: none;
     border-bottom: solid #383838 1px;
     border-width:100%;
     width: 100%;
     background-color:white;
     height: 50px;
}
.box1{
  margin-bottom: 15px;
  background-color:white;
 
  margin-top:-16px;
}

.box2{
  background-color:white;

  p{
  
  }

}




.bodywrap{
  width: 100%;
  display:flex;
  flex-direction: column;
}

.search{
  display: none;
}

body{
background-color:#f7f7f7;

}
.myprofile a{
  text-decoration: none;
  color: gray;
}
 
.myprofile ul{
  width:40%;
  float: right;
  list-style-type: none;
}
.rightside{
  background-color:#ffffff;
  width: 90%;
  //width: 900px;
  margin-left:20px;
  margin-right:10px;
  display: block;
  margin-bottom: 50px;
}


.myprofile li{
  list-style-type: none;

}

.myprofile{
  width: 90%;
}

.nav a:hover { 
    background-color: yellow;
}

.nav{
  background-color:#383838;
  

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom:50px;
    width: 100%;
    


    li{
      background-color:#383838;
   /* Safari 6.1+ */
    display: block;
    text-align: center;
    border-style:solid;
 
  
    width: 100%;
     }
     a{
      text-decoration: none;
      color: white;
      text-align: center;
     }



     ul{
     width: 100%;
      }

     p{
      color: white;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin-top:-50px;
     }

     input {
      width: 25%;
       -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 200px;
    max-height: 20px;


     }
     
}



.myprofile{
  background-color:#444;
   width: 90%;
   margin-left:25px;
   
   border:1px solid #dddddd;
   background-color:white;
       font-weight: 500;
           margin-bottom: 25px;
      }    



.footer{
  background-color:#ff6600;
}

.profile li{
  background-color:gray;
  width: 100%;
  list-style-type:none;
}


.login{
  width: 100%;
  background-color:#ff9230;
  display: inline-block;
  margin: 25px;
}


.login h1{
  width: 100%;
  font-size:18px;
  background-color:#525052;
  font-family: source-sans-pro;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 168, 168);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 475px;
  top: 306px;
  width: 478px;
  height: 104px;
  z-index: 20;
}






label {
  display: inline-block;
}


form{
  width: 50%;


}





//this is the beginning of the large site 
//plus 600 px



@media screen and (min-width: 600px) {



.first{
  display: block;
}
.box2{
  display: inline-block;
}



.myprofile ul{
  width: 50%;
  float: right;
}

.block2{

    width: 100%;
     display: inline-block;
     border-bottom: solid #383838;
     border-width:100%;
     width: 100%;
     background-color:white;
     height: 50px;
}




.block2{

    width: 100%;
     display: none;
     border-bottom: solid #383838;
     border-width:100%;
     width: 100%;
     background-color:white;
}

.graybox{
  width: 75%;
  margin-left: 103px;
  margin-top:-50px;

}

.form{
  width: 100%;
  margin-left:100px;
}


.footerbox{
 display: -webkit-flex; /* Safari */
    -webkit-flex-direction:column; /* Safari 6.1+ */
    justify-content: space-between;
    padding:5px;
  
}
.footerbox div{
  width: 100%;

}


.footerbox img{
  float: left;
  width: 25%;
}



.footertext{
  width:40%;
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
   
}


.footertext {
  font-size:14px;
  color: white;
  margin: 10px;
}




 .footer{
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 100px;
}



.news{

  width: 20%;
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;   
  background-color:green;
  margin-right: 25px;
  justify-content: space-around;

}


.footerbox p{
  float: right;
}


.container2 h1{
  font-size: 24px;
  width: 60%;
}

.news textarea{
  border-width: 0.48px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(255, 146, 48);
  width: 150px;
  
 
}

.news input{
  background-color: rgb(255, 146, 48);
    border-style: solid;
    width: 220px;
    height: 50px;
    margin-top: 20px;
}

.news input:hover{
  background-color:white;
}

.button1{
  background-color: blue;
    border-style: solid;
    width: 220px;
    height: 50px;
    margin-top: 20px;


}





.profile{
  background-color:black;
  width: 20%;
  float: left;
  margin: 0px;
}

.profile ul{
  background-color:gray;
  margin-top:30px;
  padding-bottom:0px;
}

 

.blackcoat{
  background-color:orange;
  
  width: 100%;
  padding-top:20px;
}

.blackcoat img{
   width: 10%;
}

.fb{ 
 background-image: url(../img/facebook51.png);
 background-repeat: no-repeat;
   background-position: 0px center; 
   padding-right:50px;
   width: 100%;
    padding-left:100px;
     list-style-type: none;

    padding-top:50px;
}


.tw{ 
 background-image: url(../img/facebook51.png);
 background-repeat: no-repeat;
   background-position: 0px center;
   padding-left:100px; 

    padding-top:50px;
    list-style-type: none;
}


.ig{ 
 background-image: url(../img/facebook51.png);
 background-repeat: no-repeat;
   background-position: 0px center; 
   padding-left:100px;
     list-style-type: none;
     padding-top:50px;


}



.top{
  width: 100%;
  background-color:tan;
  display: block;
}





.profile_box{
 background-color:white;
  width: 15%;
  float: left;
  height: 600px;
  padding-right:25px;
  
}

.prof{
  background-color:blue;
}


.zverse{
  display: flex;
  width: 10%;
  margin-right:10px;
}

.one{
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;

}

.footerbox h1{
  font-family:source-sans-pro;
  color:white;
  font-size: 24px;
}

.nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  
}

.nav a:hover { 
    background-color: yellow;
}

.nav{
  background-color:#383838;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
     display: flex;
    margin-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom:50px;
    width: 100%;
    justify-content: space-around;
    border-style:none;


    li{
      background-color:#383838;
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    border-style:none;
 
  
    width: 100%;
     }



     ul{
    
  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    width: 100%;
  

  
  


     }

     p{
      color: white;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin-top:-50px;
     }

     input {
      width: 25%;
       -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 200px;
    max-height: 20px;


     }
     
}


  

  .search{
    background-image:url(../img/magnifier12.png);
    background-repeat:no-repeat;
      background-position:right;
      float: right;
      display: block;


 }

.logo1{
  width: 50px;
  height: 50px;
 
}


.myprofile{
  background-color:#444;
   width: 40%;
   ///width: 450px;
   height: 425px;
   border:1px solid #dddddd;
   background-color:white;
       font-weight: 500;
           margin-bottom: 25px;
          
           padding-left:25px;
           
          


}

.rightside{
  background-color:#f7f7f7;
  width: 60%;
  //width: 900px;
  margin-left:50px;
  margin-right:50px;
  display: block;
  margin-top: 25px;
}


.bodywrap{
  display: flex;
  flex-direction: row;
  background-color:#f7f7f7;
  width: 100%;
  padding:20px;
}

.info{
  width: 50%;
}



.myprofile ul{
  width: 40%;


}



.myprofile li{
  list-style-type: none;

}




.item1{

  list-style-type: none;

  a{
    text-decoration: none;
    color: #a5a5a5;

  }
}



.sec2{
  width: 40%;
  float: right;

}
.section1{
  width: 30%;
  float: left;
 
}
  
  

  .block1{
    display:inline-block;
     border-bottom: solid #383838 1px;
     border-width:100%;
     width: 100%;

  }


.block3{
  width: 100%;
  display:inline-block;
     border-bottom: solid #383838 1px;
     border-width:100%;
     width: 100%;

     
     }
.block3 p{
  float: left;
  font-family:source-sans-pro;
}
.block3 h1{
  float: right;
  font-family:source-sans-pro;
}

.block2 p{
  float: left;
  font-family:source-sans-pro;
}
.block2 h1{
  float: right;
  font-family:source-sans-pro;
}
.block2{

    width: 100%;
  display:inline-block;
     border-bottom: solid #383838 1px;
     border-width:100%;
     width: 100%;
     background-color:white;
}

.box1{
  margin-bottom: 15px;
  background-color:white;

  margin-top:-16px;
  display: flex;


}
.first{
  height: 50%;
  margin-top: 25px;

  h3{
    text-align: center;
  }

}

.second{

  border-right:solid;
  height: 50%;
  margin-top: 25px;

}

.box1{

  h2{
    font-size: 10px;
    color: gray;
    text-align: center;
  }
  h1{
    font-size: 10px;
    text-align: center;
  }
}





.box2{
  background-color:white;

  border-bottom: solid #383838 1px;

  
}


  

}

 //end of media screen 660

.box2{
  display: block
}
.layr{
  margin-left:50px;
  max-width: 100px;
}
.head{
  border-bottom:none;
  text-align: center;
 font-family: 'Source Sans Pro', sans-serif;

}


.tabholder{
  background-color:white;
  width: 50%;
}
.last2{
  display: none;
}

.box2{
  width: 100%;

   p{
    float: left;
   }
   img{
    float: left;
   }

   button{
    float: right;
   }
}




.face{
  width: 33%;
  margin-left: 0px;
}






@media screen and (min-width: 800px) {


.first{

  border-right:solid;
  height: 50px;

}

.second{

  border-right:solid;
   height: 50px;

}
.last{
  margin-left: 0px;
}

.myprofile ul{
  width: 50%;
  float: right;
}

.last2{
  display: block;
  width: 100%;
}

.holder{
width:75%;
}


}








